/*** Global property field ***/
@property --toggle-size {
    syntax: "<length>";
    inherits: false;
    initial-value: 38px;
}

/*** Base Styles ***/
.background {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    user-select: none;
    pointer-events: none;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/*** Responsive layout for smaller screen (Mobile support) ***/
@media (max-width: 600px) {
    .background {
        display: none;
    }
}