/*** Base Styles ***/
.toggle {
    z-index: 100;
    width: var(--toggle-size);
    height: var(--toggle-size);
    line-height: var(--toggle-size);                             /* Make sure svg will place center vertically */
    cursor: pointer;
    transition: transform 0.3s;
    border: 1px solid white;
    border-radius: 8px;
    background: black;

    svg {
        overflow: visible;
        width: calc(var(--toggle-size) / 1.75);                  /* Width relative to toggle size */
    }

    rect {
        transition: 0.2s;
        transform-origin: center center;
    }

    &.expanded rect:nth-child(1) {
        transform: translate(-7px, 7px) rotate(45deg);
    }

    &.expanded rect:nth-child(2) {
        transform: translateX(20px);
        opacity: 0;
    }

    &.expanded rect:nth-child(3) {
        transform: translate(-7px, -7px) rotate(-45deg);
    }
}

/*** Responsive layout for wider screens (Desktop support) ***/
@media (min-width: 599.99px) {
    .toggle {
        display: none;
    }
}

/*** Responsive layout for smaller screen (Mobile support) ***/
@media (max-width: 600px) {
    .toggle {
        position: fixed;                                         /* Force the toggle overlap everything and pin top 0 */
        top: 0;
        transform: none;

        &.expanded {
            transform: translate(var(--navbar-width));
        }
    }
}