/*** Global property field ***/
@property --toggle-size {
    syntax: "<length>";
    inherits: false;
    initial-value: 38px;
}

/*** Base Styles ***/
.background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: max(16rem, 100%);
    user-select: none;
    pointer-events: none;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/*** Responsive layout for smaller screen (Mobile support) ***/
@media (max-width: 600px) {
    .background {
        position: absolute;
        height: calc(var(--toggle-size) * 4.2);                                 /* Background height should be match with header */

        & > img {
            height: auto;
        }
    }
}